@import "../../public/assets/scss/colors.scss";
@import "../../public/assets/scss/mixins.scss";

.card {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccd2e3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 4px;
}

.card-bottom {
  padding: 1rem;
  padding-top: 0;
}

.probiotic-chew {
  @include categoryTag(#704697);
}

.joint-care-chew {
  @include categoryTag($primaryBlue);
}

.skin {
  @include categoryTag(#cd0053);
}

.vitality-pro {
  @include categoryTag(#729f00);
}

.dental-formula {
  @include categoryTag(#22a594);
}

.salmon-bites {
  @include categoryTag(#f54b34);
}

.card-image {
  margin-top: -8.5px;

  div {
    height: 171.5px;
    width: 55%;
    margin: auto !important;
  }
}

.card-title {
  @include text("Utopia Std", normal, 20px, $primaryBlue);
  margin: 0 0 0.5rem 0;
  line-height: 24px;
}

.description {
  @include text("Neuzeit Grotesk", normal, 16px, $primaryBlue);
  margin: 0 0 1.5rem 0;
}

.benefit {
  display: flex;
  line-height: 1;
}

.benefit > span {
  padding-bottom: 5px;
}

.benefit > span:first-child {
  padding-right: 5px;
}

.price-list {
  margin-top: 15px;
  display: flex;
  margin-bottom: 8px;
  line-height: 0;
  width: max-content;

  p {
    padding-right: 5px;
  }
}

.price:nth-child(1) {
  @include text("Utopia Std", normal, 16px, $primaryBlue);
}
.price:nth-child(2) {
  @include text("Utopia Std", normal, 16px, $primaryBlue, 0.4, line-through);
}
.price:nth-child(3) {
  @include text("Utopia Std", normal, 16px, $primaryRed);
}

@media only screen and (max-width: 425px) {
  .price-list {
    width: fit-content;
    flex-wrap: wrap;
  }
}
