.card-wrapper {
  padding: 14px;
}

@media only screen and (max-width: 1024px) and (min-width: 673px) {
  .tablet {
    max-width: 50%;
    flex: 50% !important;
  }
}

@media only screen and (max-width: 673px) and (min-width: 426px) {
  .tablet {
    max-width: 100%;
    flex: 100% !important;
  }
}

@media only screen and (max-width: 425px) {
  .card-wrapper {
    display: block;
  }
}
