@import "../../public/assets/scss/colors.scss";
@import "../../public/assets/scss/mixins.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 79px;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.logo-parent > a > div {
  width: 192px;
  height: 40px;
}
.nav-menu {
  // padding-left: 55px;
  // padding-right: 34px;
  padding: 0;
  margin-left: 80px;
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: fit-content;
  cursor: pointer;

  span {
    margin-right: 4px;
  }
}

.nav-item {
  @include text("Utopia Std", normal, 16px, $primaryBlue);
}

.nav-item:active {
  span > svg > path {
    fill: $primaryRed;
  }
  a {
    color: $primaryRed;
  }
}

.mobile-option {
  display: none;
}
.hamburger {
  display: none;
}

@media only screen and (min-width: 2000px) and (max-width: 2500px) {
  .nav-menu {
    width: 70%;
    margin-right: auto;
  }

  .nav-item {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 2000px) {
  .nav-menu {
    width: 100%;
    margin-right: auto;
  }

  .nav-item {
    font-size: 24px;
  }
}

@media screen and (max-width: 1204px) {
  .logo-parent > a > div {
    width: 139px;
    height: 40px;
  }
  .nav-menu {
    padding: 0;
    margin-left: 40px;
    width: 80vw;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 25px 40px;
  }

  .logo-parent > a > div {
    width: 139px;
    height: 40px;
  }

  .nav-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .logo-parent > a > div {
    width: 110px;
    height: 22px;
  }

  .navbar {
    padding: 25px 30px;
  }

  .nav-menu {
    padding: 0;
    margin-left: 40px;
    width: 80vw;
  }
}

@media only screen and (max-width: 873px) {
  .navbar {
    margin: 0;
    padding: 16px 26px;
  }

  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logo-parent > a > div {
    width: 114px;
    height: 24px;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    padding: 0 16px;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
  }

  .nav-menu.active {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    padding: 0 16px;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;

    background: #ffffff;
    left: 0;
    opacity: 1;
    z-index: 1;
    align-content: center;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
