@import "../../public/assets/scss/colors.scss";
@import "../../public/assets/scss/mixins.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 79px;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  z-index: 1000;
}

// .navlogo {
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
// }

.logoParent > a > div {
  width: 192px;
  height: 40px;
}
.navmenu {
  padding-left: 55px;
  padding-right: 34px;
  display: flex;
  list-style-type: none;
  width: 77vw;
  justify-content: space-around;
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: fit-content;
  cursor: pointer;

  span {
    margin-right: 4px;
  }
}

.navlink {
  @include text("Utopia Std", normal, 16px, $primaryBlue);
}

/* .navlink:hover {
    color: #482ff7;
  } */

.navlink:active {
  color: $primaryRed;
  span {
    color: $primaryRed;
  }
}

.mobile-option {
  display: none;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .logoParent > a > div {
    width: 139px;
    height: 40px;
  }
}

@media screen and (max-width: 992px) and (min-width: 730px) {
  .logoParent > a > div {
    width: 110px;
    height: 22px;
  }

  .navbar {
    padding: 25px 30px;
  }

  .navmenu {
    padding: 0;
    margin-left: 40px;
    width: 80vw;
  }
}

@media screen and (max-width: 991px) and (min-width: 647px) {
  .navlink {
    span {
      display: none;
    }
  }

  .navlink {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) and (min-width: 750px) {
  .navbar {
    padding: 25px 40px;
  }

  .navlink {
    font-size: 14px;
  }

  .logoParent > a > div {
    width: 110px;
    height: 22px;
  }
}

@media screen and (max-width: 749px) and (min-width: 660px) {
  .logoParent > a > div {
    width: 110px;
    height: 22px;
  }

  .navbar {
    padding: 25px 30px;
  }

  .navmenu {
    padding: 0;
    margin-left: 20px;
    width: 80vw;
  }
}

@media only screen and (max-width: 648px) {
  .navbar {
    padding: 0px 10px;
  }

  .navmenu {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    display: grid;
  }

  .navmenu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .navitem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 660px) and (min-width: 649px) {
  .logoParent > a > div {
    width: 110px;
    height: 22px;
  }

  .navlink {
    font-size: 12px;
  }

  .navbar {
    padding: 25px 30px;
  }

  .navmenu {
    padding: 0;
    margin-left: 20px;
    width: 100vw;
  }
}

@media screen and (max-width: 640px) {
  .navbar {
    margin: 16px 24px;
  }

  .logoParent > a > div {
    width: 114px;
    height: 24px;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 384px) {
}

@media screen and (max-width: 360px) {
}

@media screen and (max-width: 320px) {
}
