@import "../../public/assets/scss/colors.scss";
@import "../../public/assets/scss/mixins.scss";

.header {
  padding: 27px 0;
  background: #e5e5e5;
}

.header-row {
  width: 74vw;
}

.column-one {
  margin: 0;
}

.column-one > div {
  height: 150px;
  width: 120px;
  margin-left: auto !important;
}

.vertical-align {
  align-self: center;
}

.column-two {
  // padding: 0 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.header-text {
  @include text("Utopia Std", normal, 32px, $primaryBlue);
  line-height: 38.4px;
  margin: 0;
}

.column-two > p {
  @include text("Neuzeit Grotesk", normal, 16px, $primaryRed);
  line-height: 23.2px;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 840px) and (min-width: 768px) {
  .column-two > h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: fit-content;
  }
  .column-one {
    width: 100%;
  }

  .column-one > div {
    width: 100%;
  }

  .verticalAlign {
    margin: auto;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .header {
    height: fit-content;
  }

  .col-4 {
    width: 50%;
    margin: auto;
  }

  .col-8 {
    max-width: 100% !important;
    margin: auto;
  }

  .column-two > h3 {
    font-size: 24px;
  }

  .column-two > p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 992px) {
  .column-two {
    padding: 0;
  }

  .column-two > h3 {
    font-size: 32px;
  }

  .column-two > p {
    font-size: 16px;
  }
}

@media (max-width: 1025px) {
  .column-two {
    margin: auto;
  }
}
@media only screen and (max-width: 992px) and (min-width: 923px) {
  .break {
    display: block;
  }
}
@media only screen and (max-width: 993px) {
  .column-two > p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 885px) and (min-width: 766px) {
  .break {
    display: none;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 766px) {
  .column-two {
    margin: auto;
  }
}

@media (min-width: 766px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media only screen and (min-width: 482px) and (max-width: 765px) {
  .break {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .header-row {
    width: 88%;
  }
}

@media screen and (max-width: 456px) {
  .header-row {
    width: 100%;
  }
  .column-two {
    padding: 0 16px;
  }

  .col-4 {
    width: 100%;
    margin: auto;
  }

  .column-two > h3 {
    font-size: 22px;
  }

  .column-two > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 411px) {
  .column-two > h3 {
    font-size: 20px;
  }

  .column-two > p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 365px) {
  .break {
    display: none;
  }
}

@media only screen and (max-width: 273px) {
  .column-two > h3 {
    font-size: 18px;
  }
}
