@import "../../public/assets/scss/colors.scss";
@import "../../public/assets/scss/mixins.scss";

.footer {
  background-color: $primaryBlue;
  margin: 0;
}

.footerLogo {
  padding: 80px;
  height: fit-content;
}

.footerLogo > div {
  height: 159px;
  width: 156px;
}

.footer > hr {
  width: 89%;
  margin: auto;
  color: #fcf1e0;
  opacity: 0.2;
}

.footer > p {
  @include text("Neuzeit Grotesk", normal, 14px, #fcf1e0);
  padding: 16px;
  margin: auto;
  width: fit-content;
}

@media only screen and (max-width: 673px) {
  .footerLogo {
    width: fit-content;
    margin: auto;
  }
}

@media only screen and (max-width: 320px) {
  .footerLogo > div {
    width: 100px;
  }
}
