.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 0 auto;
}

.mainwrapper {
  width: 87.5%;
  margin-left: 6.25%;
  margin-right: 6.25%;
  margin-top: 81px !important;
  margin-bottom: 81px !important;
}

@media only screen and (max-width: 425px) {
  .row-two {
    margin-top: 0;
    display: block;
  }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .row-two {
    margin-top: 0;
  }

  .mainwrapper {
    width: 90vw;
    margin-right: 0;
    margin-left: 0;
  }

  .col-4 {
    max-width: 50%;
    flex: 50% !important;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 1024px) {
  .row-two {
    margin-top: 0;
  }

  .mainwrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .col-4 {
    max-width: 50%;
    flex: 50% !important;
  }
}

.col-4 {
  padding: 14px;
}
